<div class="avatar-upload">
  <div class="avatar-upload__current">
    <label for="avatar" class="avatar-upload__dropzone">
      <input type="file" id="avatar" name="avatar" accept="image/*" class="visually-hidden">
      {{> avatar url=currentUser.avatarUrl name=currentUser.first_name size="xlarge"}}
      <div class="avatar-upload__dropzone-overlay">
        {{> upload-icon}}
        <div class="avatar-upload__dropzone-text">Нажмите для загрузки</div>
      </div>
    </label>
  </div>

  <form class="form" id="avatarUploadForm">
    <div class="form__actions">
      <button type="submit" class="button button_primary button_full-width">Сохранить</button>
    </div>
  </form>
</div>
