<div class="chat-window">
  {{#if chat}}
    {{> chat-header chat=chat}}

    <div class="chat-window__messages" id="messagesContainer">
      {{#each messages}}
        {{#if showDate}}
          <div class="message-date-divider">
            <span class="message-date-divider__label">{{dateLabel}}</span>
          </div>
        {{/if}}
        {{> message
          senderId=this.senderId
          text=this.text
          time=this.time
          senderName=(lookup ../chat.members this.senderId 'name')
          senderAvatar=(lookup ../chat.members this.senderId 'avatarUrl')
          isRead=this.isRead
          currentUser=../currentUser
        }}
      {{/each}}
    </div>

    {{> message-input}}
  {{else}}
    <div class="chat-window__empty">
      <div class="chat-window__empty-icon">💬</div>
      <h2 class="chat-window__empty-title">Выберите чат</h2>
      <p class="chat-window__empty-text">Начните общение, выбрав чат из списка</p>
    </div>
  {{/if}}
</div>
