<main class="settings-window">
  <header class="settings-window__header">
    <a href="/settings" class="settings-window__back-btn">
      {{> back-icon size="default"}}
    </a>
    <h1 class="settings-window__title">Изменить пароль</h1>
  </header>

  <div class="settings-window__content">
    {{> password-form}}
  </div>
</main>
