{{#if currentUser}}
    <div class="sidebar-header">
        <a href="/settings" class="sidebar-header__user">
            {{> avatar
                    url=currentUser.avatarUrl
                    name=currentUser.first_name
                    size="medium"
            }}

            <div class="sidebar-header__user-info">
                <div class="sidebar-header__user-display-name">{{currentUser.display_name}}</div>
                <div class="sidebar-header__user-status">{{currentUser.status}}</div>
            </div>
        </a>

        <div class="sidebar-header__actions">
            <button class="sidebar-header__action-btn" title="Создать чат">
                {{> chat-icon size="default"}}
            </button>

            <a href="/settings" class="sidebar-header__action-btn" title="Настройки">
                {{> settings-icon size="default"}}
            </a>
        </div>
    </div>
{{else}}
    <a href="/login" class="profile-empty">
        <div class="profile-empty__avatar">?</div>
        <div class="profile-empty__text">Войти</div>
    </a>
{{/if}}
