<form class="form" id="loginForm">
  <div class="form__group">
    <label for="login" class="form__label">Логин</label>
    <input type="text" id="login" name="login" class="input" required>
  </div>

  <div class="form__group">
    <label for="password" class="form__label">Пароль</label>
    <input type="password" id="password" name="password" class="input" required>
  </div>

  <div class="form__actions">
    <button type="submit" class="button button_primary button_full-width">Войти</button>
  </div>
</form>
