<form class="form" id="passwordForm">
  <div class="form__group">
    <label for="old_password" class="form__label">Старый пароль</label>
    <input type="password" id="old_password" name="old_password" class="input" required>
  </div>

  <div class="form__group">
    <label for="new_password" class="form__label">Новый пароль</label>
    <input type="password" id="new_password" name="new_password" class="input" required>
    <div class="form__hint">Минимум 6 символов</div>
  </div>

  <div class="form__group">
    <label for="new_password_confirm" class="form__label">Повторите новый пароль</label>
    <input type="password" id="new_password_confirm" name="new_password_confirm" class="input" required>
    <div class="form__error" id="passwordError"></div>
  </div>

  <div class="form__actions form__actions--multiple">
    <button type="submit" class="button button_primary">Сохранить</button>
  </div>
</form>
