<main class="auth-container">
  <div class="auth-card">
    <h1 class="auth-card__title">Авторизация</h1>
    <div class="auth-card__content">
      {{> login-form}}
    </div>

    <div class="auth-card__footer">
      <div class="auth-footer">
        Нет аккаунта?
        <button type="button" class="button button_link link" data-navigate="/register">Зарегистрироваться</button>
      </div>
    </div>
  </div>
</main>
