<div class="app">
  <aside class="app__sidebar sidebar">
    {{> sidebar-header}}

    <div class="sidebar__search">
      <input type="text" class="sidebar__search-input" placeholder="Поиск...">
    </div>

    <nav class="sidebar__chat-list">
      {{#each chats}}
        {{> chat-item chat=this isActive=(eq this.id ../activeChatId)}}
      {{/each}}
    </nav>
  </aside>

  <main class="app__content">
    {{{content}}}
  </main>
</div>
